.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
 display: block;
 position: relative;
}

a {
  color: #e4bcd7;
  font-family: 'Brush Script MT', cursive;
}

a:hover {
  color: #ffffff;
  font-family: 'Brush Script MT', cursive;
}

.FooterWrap {
  padding-bottom: 2.5rem;
}

/* Header component */
.header {
  background-color: #e4bcd7;
}

.header-div {
  background-color: #e4bcd7;
  padding: 50px 0 0;
  margin-top: 40px;
}

.header-img {
  height: 300px;
}

.header-title-parent {
  text-align: center;
}

.header-div-title {
  font-family: 'Bradley hand', cursive;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  border: 1px solid white;
  border-width: 1px 0;
  display: inline-block;
  padding: 25px 430px;
}

.teaser-title {
  text-align: start;
  padding: 20px 0 0;
  color: #ffffff;
  font-size: 53px;
  font-weight: 900;
  line-height: 1.4;
}

.teaser-par {
  color: white;
  font-size: 23px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 1.5;
}

/* .logo {
  width: 120px;
  margin: 10px 0;
} */

.header-teaser {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 45px 0 35px;
}

.text-teaser-div {
  padding: 0 0 25px;
}